<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.cdnfonts.com/css/circular-std"
            rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
            rel='stylesheet'>
        <link rel="icon"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAYJJREFUSEvllf0xRDEUR89WgA50gArQARWgElSCCugAFaCCLQEdmDOTmGy8vNw3+8aOcf/afcnNuV/5ZcGGbLEhLn8afA4sgecp1Zsj4w9gC7gDDCJk64L3gZdEugBuQ1RYu8dmeJNgB8Drb4HN8Az4BLajUPetW2oz3EuDdTQ32HIeAvawNDN8Tx+ugav02yo89frdyziX0jPr4THDxwQ7TrCy5/rWwX4H3gKbjYc6tZo9FFQOjxlepvUdwGvlfrP1emnuNyjXVmwIrLPQPCxvCVo7C7AFrucAPVw/1+y9pp/wlYmvwWWpdBoThZ5wlG360aoSfALcF/UYE4SocNSJnAIP9XWaAo4KRwhsIPXG1mRGhCNc6lzlyGSOCUfkRjSVa2wyW8Jh4NEb0ZXMIQEZEo5crbJVo89kT7ly34Xlt3ZIOEpxmEUya8Hxf0s4hvY2v0Uyrp17whEKYCo4Khxd+FRwVDhmB0eEowutJTPkkF6q3d5D3ztsaql754XX/x/4C7SvZR+uZb5OAAAAAElFTkSuQmCC"
            type="image/x-icon">
        <title>Groupie Tracker</title>
    </head>
    <body>
        <div class="logo-container">
            <div class="logo">
                <i class='bx bxs-music'></i>
            </div>
            <div class="header">
                <h1 class="page-header">Groupie-Tracker</h1>
            </div>
        </div>
        <br>
        <button type="button" onclick="history.back()">GO BACK</button>
        <div class="row">
            <div class="group-card-info">
                <h1 class=infopage> {{ .Name }} </h1>
                <img class="infocard-image" src="{{.Image}}"></img>
            <header>Concert dates</header>
            {{range $key, $value := .Relation}}
            <p class="info-card-city">{{ $key }}</p>
            {{ range . }}
            <p class="info-card-date">{{ . }}</p>
            {{ end }}
            {{end}}
        </div>
    </div>
</body>