<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel = "icon" href ="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAYJJREFUSEvllf0xRDEUR89WgA50gArQARWgElSCCugAFaCCLQEdmDOTmGy8vNw3+8aOcf/afcnNuV/5ZcGGbLEhLn8afA4sgecp1Zsj4w9gC7gDDCJk64L3gZdEugBuQ1RYu8dmeJNgB8Drb4HN8Az4BLajUPetW2oz3EuDdTQ32HIeAvawNDN8Tx+ugav02yo89frdyziX0jPr4THDxwQ7TrCy5/rWwX4H3gKbjYc6tZo9FFQOjxlepvUdwGvlfrP1emnuNyjXVmwIrLPQPCxvCVo7C7AFrucAPVw/1+y9pp/wlYmvwWWpdBoThZ5wlG360aoSfALcF/UYE4SocNSJnAIP9XWaAo4KRwhsIPXG1mRGhCNc6lzlyGSOCUfkRjSVa2wyW8Jh4NEb0ZXMIQEZEo5crbJVo89kT7ly34Xlt3ZIOEpxmEUya8Hxf0s4hvY2v0Uyrp17whEKYCo4Khxd+FRwVDhmB0eEowutJTPkkF6q3d5D3ztsaql754XX/x/4C7SvZR+uZb5OAAAAAElFTkSuQmCC" type = "image/x-icon">
        <title>Groupie Tracker</title>
    </head>
    <body>
        <div class="logo-container">
            <div class="logo">
        <i class='bx bxs-music'></i>
            </div>
            <div class="header">
                <h1 class="page-header">Groupie-Tracker</h1>
            </div>
        </div>
        <br>
        <button type="button" onclick="history.back()">GO BACK</button>
        {{if eq (len .) 0}}
        <div class="error">
            <img src="https://i.ibb.co/G9ThcBN/30-303348-sad-face-emoji-png-world-happiness-report-2018-removebg-preview.png" width="300" height="300" alt="sad smile">
            <p>No matches... please try again</p>
          </div>
          {{ else }}
        <div class="row">
        {{ range .}}
          <div class="group-card" onclick="location.href='/artist/{{ .Number }}';" style="cursor: pointer;">
              <img class="card-image" src="{{.Image}}"></img>
              <div class="card-header">
                  <h2>{{ .Name }}</h2>
              </div>
              <div class="card-text">
              <h3>Formed in {{ .Date }}</h3>
              <h3>First album: {{ .FirstAlbum }}</h3>
              <h3>Members: {{ len .Members }}</h3>
          </div>
          <h5>Members:</h5> 
          {{ $len := len .Members }}
          {{ $finalIndex := len (slice (printf "%*s" $len "") 1) }} 
          <p class="main-card">{{ range $i, $elem := .Members }}
              {{ if eq $finalIndex $i }}
              {{ $elem }}
              {{ else }}
              {{ $elem }},
              {{ end }} 
              {{ end }}</p>
      </div>
      {{ end }}
      {{ end }}
      </div>
  </body>
  </html>